<%= form_for(@recipe, url: user_recipes_path) do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this recipe from being saved:
      </h2>
   
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :instructions %><br>
  <%= f.text_area :instructions %><br>

  Ingredients:<br>
  <ul>
    <%= f.fields_for :ingredients do |ingredients_form| %>
      <li><%= ingredients_form.label :name %>
      <%= ingredients_form.text_field :name %>
      <label for="recipe_ingredients_quantity">Quantity</label>
      <input type="text" name="recipe[recipe_ingredients_attributes][<%= ingredients_form.index %>][quantity]" %>
    <% end %>


    </li>
  </ul>

  <%= f.submit %>

<% end %>
